In [1]:
import pandas as pd
import numpy as np
import streamlit as st

In [2]:
#import the libraries for data cleaning
#import data
match_df= pd.read_csv(r"C:\Users\pvmur\Downloads\uVLDESaSTlKcNnlFi53o_Code\Code\Data\matches.csv")
delivery_df= pd.read_csv(r"C:\Users\pvmur\Downloads\uVLDESaSTlKcNnlFi53o_Code\Code\Data\deliveries.csv")

In [3]:
match_df.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
match_df.shape

(756, 18)

In [5]:
match_df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [6]:
match_df.drop(['toss_winner','toss_decision','player_of_match','umpire1', 'umpire2','umpire3'],axis=1,inplace=True)

In [7]:
match_df.head()

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal"
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium

In [8]:
match_df.shape

(756, 12)

In [9]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [10]:
delivery_df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [11]:
delivery_df.drop(['bowler', 'is_super_over','dismissal_kind','fielder','wide_runs','bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',],axis=1,inplace=True)

In [12]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs,player_dismissed
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,0,0,0,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,0,0,0,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,4,0,4,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,0,0,0,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,0,2,2,NaN

In [13]:
delivery_df.shape

(179078, 12)

- bathsman_runs---> runs made by bats_men
- total_runs--->runs scored

In [15]:
total_score_df=(delivery_df.groupby(['match_id','inning']).sum()['total_runs'].reset_index())

In [16]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

In [17]:
total_score_df=total_score_df[total_score_df['inning']==1]

In [18]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [19]:
match_df

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal"
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium
...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,9,Wankhede Stadium
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,normal,0,Mumbai Indians,0,6,M. A. Chidambaram Stadium
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,normal,0,Delhi Capitals,0,2,ACA-VDCA Stadium
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,normal,0,Chennai Super Kings,0,6,ACA-VDCA Stadium
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,normal,0,Mumbai Indians,1,0,Rajiv Gandhi Intl. Cricket Stadium

In [20]:
match_df=(match_df.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on='match_id'))

In [21]:
match_df

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,9,Wankhede Stadium,11347,143
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,normal,0,Mumbai Indians,0,6,M. A. Chidambaram Stadium,11412,136
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,normal,0,Delhi Capitals,0,2,ACA-VDCA Stadium,11413,171
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,normal,0,Chennai Super Kings,0,6,ACA-VDCA Stadium,11414,155
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,normal,0,Mumbai Indians,1,0,Rajiv Gandhi Intl. Cricket Stadium,11415,152

In [22]:
teams=list(match_df['team1'].unique())

In [23]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Lions',
 'Rising Pune Supergiant',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Delhi Daredevils',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Deccan Chargers',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Rising Pune Supergiants',
 'Delhi Capitals']

- 'Sunrisers Hyderabad',
- 'Mumbai Indians',
- 'Gujarat Lions',---Gujarat titans
- 'Rising Pune Supergiant',----> no more
- 'Royal Challengers Bangalore',
- 'Kolkata Knight Riders',
- 'Delhi Daredevils',--->'Delhi Capitals'
- 'Kings XI Punjab',
- 'Chennai Super Kings',
- 'Rajasthan Royals',
- 'Deccan Chargers',---->'Sunrisers Hyderabad'
- 'Kochi Tuskers Kerala',---> no more
- 'Pune Warriors',----> no more
- 'Rising Pune Supergiants',
- Delhi Capitals'

In [25]:
teams= ['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Titans',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals']

In [26]:
 # too change the name from old name to new name
match_df['team1'] =match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] =match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] =match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] =match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['team1'] =match_df['team1'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['team2'] =match_df['team2'].str.replace('Gujarat Lions','Gujarat Titans')

In [27]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Titans',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Capitals', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Kochi Tuskers Kerala',
       'Pune Warriors', 'Rising Pune Supergiants'], dtype=object)

In [28]:
match_df=match_df[match_df['team1'].isin(teams)]
match_df=match_df[match_df['team2'].isin(teams)]

In [29]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Gujarat Titans',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Delhi Capitals', 'Mumbai Indians',
       'Chennai Super Kings', 'Rajasthan Royals'], dtype=object)

In [30]:
match_df.shape

(667, 14)

In [31]:
match_df.head()

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Titans,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium,3,183
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
5,6,IPL-2017,Hyderabad,09-04-2017,Gujarat Titans,Sunrisers Hyderabad,normal,0,Sunrisers Hyderabad,0,9,"Rajiv Gandhi International Stadium, Uppal",6,135
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,7,178

In [32]:
# dl_applied is  0 means normal match and 1 means duckworth lewls rules are applied
match_df['dl_applied'].value_counts()

dl_applied
0    652
1     15
Name: count, dtype: int64

In [33]:
# removing dl_applied =1 record or rows
match_df=match_df[match_df['dl_applied']==0]

In [34]:
match_df.shape

(652, 14)

In [35]:
match_df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'result',
       'dl_applied', 'winner', 'win_by_runs', 'win_by_wickets', 'venue',
       'match_id', 'total_runs'],
      dtype='object')

In [36]:
match_df

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Titans,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium,3,183
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
5,6,IPL-2017,Hyderabad,09-04-2017,Gujarat Titans,Sunrisers Hyderabad,normal,0,Sunrisers Hyderabad,0,9,"Rajiv Gandhi International Stadium, Uppal",6,135
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,7,178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,9,Wankhede Stadium,11347,143
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,normal,0,Mumbai Indians,0,6,M. A. Chidambaram Stadium,11412,136
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,normal,0,Delhi Capitals,0,2,ACA-VDCA Stadium,11413,171
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,normal,0,Chennai Super Kings,0,6,ACA-VDCA Stadium,11414,155
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,normal,0,Mumbai Indians,1,0,Rajiv Gandhi Intl. Cricket Stadium,11415,152

In [37]:
match_df=match_df[['match_id','city','winner','total_runs']]

In [38]:
match_df

     match_id           city                       winner  total_runs
0           1      Hyderabad          Sunrisers Hyderabad         207
2           3         Rajkot        Kolkata Knight Riders         183
4           5      Bangalore  Royal Challengers Bangalore         157
5           6      Hyderabad          Sunrisers Hyderabad         135
6           7         Mumbai               Mumbai Indians         178
..        ...            ...                          ...         ...
751     11347         Mumbai               Mumbai Indians         143
752     11412        Chennai               Mumbai Indians         136
753     11413  Visakhapatnam               Delhi Capitals         171
754     11414  Visakhapatnam          Chennai Super Kings         155
755     11415      Hyderabad               Mumbai Indians         152

[652 rows x 4 columns]

In [39]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs,player_dismissed
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,0,0,0,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,0,0,0,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,4,0,4,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,0,0,0,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,0,2,2,NaN

In [40]:
delivery_df=delivery_df[delivery_df['inning']==2]

In [41]:
delivery_df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs,player_dismissed
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur

In [42]:
delivery_df=match_df.merge(delivery_df,on='match_id')

In [43]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs_y,player_dismissed
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur

In [44]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs_x', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'total_runs_y', 'player_dismissed'],
      dtype='object')

In [45]:
delivery_df.rename(columns={'total_runs_x':'total_runs','total_runs_y':'Ball_score'},inplace=True)

In [46]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur

In [47]:
delivery_df ['score']= delivery_df[['match_id','Ball_score']].groupby('match_id').cumsum()['Ball_score']

In [48]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,score
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN,1
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN,1
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN,1
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN,3
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN,152
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN,154
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN,157
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157

In [49]:
delivery_df[['Ball_score','score']]

       Ball_score  score
0               1      1
1               0      1
2               0      1
3               2      3
4               4      7
...           ...    ...
75335           1    152
75336           2    154
75337           1    155
75338           2    157
75339           0    157

[75340 rows x 2 columns]

In [50]:
# new column which hase target
delivery_df['target_left']=(delivery_df['total_runs']+1) - delivery_df['score']

In [51]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,score,target_left
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN,1,207
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN,3,205
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN,7,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN,152,1
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN,154,-1
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN,157,-4
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4

In [52]:
# 1 over 6 balls 
# and we need to see how many balls are remaining
# ipl has 20 over match 20*6 =120
delivery_df['remining balls']=(120-((delivery_df['over']-1)*6 + delivery_df['ball']))

In [53]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,score,target_left,remining balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN,152,1,4
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN,154,-1,3
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2,2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN,157,-4,1
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4,0

In [54]:
# how many wickets are left out

In [55]:
delivery_df['player_dismissed']=delivery_df['player_dismissed'].fillna('0')

In [56]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,score,target_left,remining balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2,2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4,0

In [57]:
delivery_df['player_dismissed']=delivery_df['player_dismissed'].apply(lambda x:x if x=='0' else'1').astype('int64')

In [58]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,score,target_left,remining balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0

In [59]:
delivery_df[['match_id','player_dismissed']]

       match_id  player_dismissed
0             1                 0
1             1                 0
2             1                 0
3             1                 0
4             1                 0
...         ...               ...
75335     11415                 0
75336     11415                 0
75337     11415                 1
75338     11415                 0
75339     11415                 1

[75340 rows x 2 columns]

In [60]:
# lets count how many wickets are down
delivery_df['wickets']=delivery_df[['match_id','player_dismissed']].groupby('match_id').cumsum()['player_dismissed'].values

In [61]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,score,target_left,remining balls,wickets
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,0
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,0
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,0
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,0
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,6
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,6
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,7

In [62]:
delivery_df['wickets']=10 - delivery_df['wickets']

In [63]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,score,target_left,remining balls,wickets
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,10
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,10
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,10
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,10
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,4
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,4
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,3

current Run Rate

$$Current \ run \ rate= \frac{Runs \ scored}{number \ of \ overs\ completed}$$

In [65]:
delivery_df['crr'] = (delivery_df['score'])*6/(120 - delivery_df['remining balls'])

In [66]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,score,target_left,remining balls,wickets,crr
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,10,6.000000
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,10,3.000000
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,10,2.000000
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,10,4.500000
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,10,8.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5,7.862069
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5,7.897436
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,4,7.881356
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,4,7.915966
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,3,7.850000

Required run rate

$$required \ run \ rate= \frac{Reamining \ scored \ or \ Target}{number \ of \ overs\ left}$$

In [68]:
delivery_df['rrr'] = (delivery_df['target_left'])*6/( delivery_df['remining balls'])

In [69]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,Ball_score,player_dismissed,score,target_left,remining balls,wickets,crr,rrr
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,1,0,1,207,119,10,6.000000,10.436975
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,1,207,118,10,3.000000,10.525424
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,1,207,117,10,2.000000,10.615385
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,2,0,3,205,116,10,4.500000,10.603448
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,4,0,7,201,115,10,8.400000,10.486957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,1,0,1,0,152,1,4,5,7.862069,1.500000
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,2,0,2,0,154,-1,3,5,7.897436,-2.000000
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,0,1,1,155,-2,2,4,7.881356,-6.000000
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,2,0,2,0,157,-4,1,4,7.915966,-24.000000
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,1,157,-4,0,3,7.850000,-inf

In [70]:
#creating a column result where 1 means won  0 means lost
# lets create a function

def result(row):
    if row ['batting_team'] == row['winner']:
        return 1
    else:
        return 0

In [71]:
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [72]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,extra_runs,Ball_score,player_dismissed,score,target_left,remining balls,wickets,crr,rrr,result
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,207,119,10,6.000000,10.436975,0
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,1,207,118,10,3.000000,10.525424,0
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,1,207,117,10,2.000000,10.615385,0
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,3,205,116,10,4.500000,10.603448,0
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,7,201,115,10,8.400000,10.486957,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,1,0,152,1,4,5,7.862069,1.500000,0
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,2,0,154,-1,3,5,7.897436,-2.000000,0
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,1,1,155,-2,2,4,7.881356,-6.000000,0
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,2,0,157,-4,1,4,7.915966,-24.000000,0
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,1,157,-4,0,3,7.850000,-inf,0

In [73]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'Ball_score', 'player_dismissed', 'score',
       'target_left', 'remining balls', 'wickets', 'crr', 'rrr', 'result'],
      dtype='object')

In [74]:
model_df=delivery_df[['batting_team','bowling_team','city','score','wickets','remining balls','target_left','crr','rrr','result']]

In [75]:
model_df

,batting_team,bowling_team,city,score,wickets,remining balls,target_left,crr,rrr,result
0,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,10,119,207,6.000000,10.436975,0
1,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,10,118,207,3.000000,10.525424,0
2,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,10,117,207,2.000000,10.615385,0
3,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,3,10,116,205,4.500000,10.603448,0
4,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,7,10,115,201,8.400000,10.486957,0
...,...,...,...,...,...,...,...,...,...,...
75335,Chennai Super Kings,Mumbai Indians,Hyderabad,152,5,4,1,7.862069,1.500000,0
75336,Chennai Super Kings,Mumbai Indians,Hyderabad,154,5,3,-1,7.897436,-2.000000,0
75337,Chennai Super Kings,Mumbai Indians,Hyderabad,155,4,2,-2,7.881356,-6.000000,0
75338,Chennai Super Kings,Mumbai Indians,Hyderabad,157,4,1,-4,7.915966,-24.000000,0
75339,Chennai Super Kings,Mumbai Indians,Hyderabad,157,3,0,-4,7.850000,-inf,0

In [76]:
model_df.isnull().sum()

batting_team        0
bowling_team        0
city              832
score               0
wickets             0
remining balls      0
target_left         0
crr                 0
rrr                 5
result              0
dtype: int64

In [77]:
# remove the records where the city is missing
model_df[model_df['city'].isna()]

,batting_team,bowling_team,city,score,wickets,remining balls,target_left,crr,rrr,result
43674,Royal Challengers Bangalore,Mumbai Indians,NaN,0,10,119,116,0.000000,5.848739,1
43675,Royal Challengers Bangalore,Mumbai Indians,NaN,4,10,118,112,12.000000,5.694915,1
43676,Royal Challengers Bangalore,Mumbai Indians,NaN,5,10,117,111,10.000000,5.692308,1
43677,Royal Challengers Bangalore,Mumbai Indians,NaN,7,10,116,109,10.500000,5.637931,1
43678,Royal Challengers Bangalore,Mumbai Indians,NaN,7,10,115,109,8.400000,5.686957,1
...,...,...,...,...,...,...,...,...,...,...
45510,Mumbai Indians,Sunrisers Hyderabad,NaN,154,3,4,19,7.965517,28.500000,0
45511,Mumbai Indians,Sunrisers Hyderabad,NaN,154,3,3,19,7.897436,38.000000,0
45512,Mumbai Indians,Sunrisers Hyderabad,NaN,155,3,2,18,7.881356,54.000000,0
45513,Mumbai Indians,Sunrisers Hyderabad,NaN,156,3,1,17,7.865546,102.000000,0
45514,Mumbai Indians,Sunrisers Hyderabad,NaN,157,3,0,16,7.850000,inf,0

In [78]:
model_df.dropna(inplace=True)

C:\Users\pvmur\AppData\Local\Temp\ipykernel_3888\1813605825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_df.dropna(inplace=True)

In [79]:
model_df.isnull().sum()

batting_team      0
bowling_team      0
city              0
score             0
wickets           0
remining balls    0
target_left       0
crr               0
rrr               0
result            0
dtype: int64

In [80]:
model_df.describe()

C:\anaconda\Lib\site-packages\numpy\core\_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

,score,wickets,remining balls,target_left,crr,rrr,result
count,74503.000000,74503.000000,74503.000000,74503.000000,74503.000000,7.450300e+04,74503.000000
mean,73.593641,7.539951,62.744252,93.300109,7.483927,NaN,0.535656
std,47.021034,2.137884,33.365914,50.199133,2.287416,NaN,0.498730
min,0.000000,0.000000,-2.000000,-15.000000,0.000000,-inf,0.000000
25%,34.000000,6.000000,35.000000,54.000000,6.289157,7.235294e+00,0.000000
50%,70.000000,8.000000,63.000000,93.000000,7.500000,8.963855e+00,1.000000
75%,109.000000,9.000000,92.000000,131.000000,8.750000,1.100000e+01,1.000000
max,223.000000,10.000000,119.000000,250.000000,42.000000,inf,1.000000

In [81]:
model_df=model_df[model_df['remining balls']!=0]

In [82]:
model_df.describe()

,score,wickets,remining balls,target_left,crr,rrr,result
count,74262.000000,74262.000000,74262.000000,74262.000000,74262.000000,74262.000000,74262.000000
mean,73.318103,7.555129,62.947874,93.536088,7.482496,10.515160,0.537045
std,46.827172,2.122778,33.227690,50.098611,2.289951,13.860596,0.498629
min,0.000000,0.000000,-2.000000,-15.000000,0.000000,-516.000000,0.000000
25%,34.000000,6.000000,35.000000,54.000000,6.285714,7.230769,0.000000
50%,70.000000,8.000000,64.000000,93.000000,7.500000,8.953846,1.000000
75%,108.000000,9.000000,92.000000,131.000000,8.750000,10.978723,1.000000
max,222.000000,10.000000,119.000000,250.000000,42.000000,684.000000,1.000000

In [83]:
model_df=model_df.sample(model_df.shape[0])

In [84]:
model_df.sample()

,batting_team,bowling_team,city,score,wickets,remining balls,target_left,crr,rrr,result
63195,Kolkata Knight Riders,Rajasthan Royals,Jaipur,47,9,85,119,8.057143,8.4,1

In [85]:
# spliting the data into features and target

X = model_df.iloc[:,:-1]

Y = model_df.iloc[:,-1]

In [86]:
X

,batting_team,bowling_team,city,score,wickets,remining balls,target_left,crr,rrr
34208,Chennai Super Kings,Rajasthan Royals,Jaipur,43,8,71,84,5.265306,7.098592
27706,Delhi Daredevils,Mumbai Indians,Mumbai,29,6,80,150,4.350000,11.250000
57695,Sunrisers Hyderabad,Gujarat Lions,Rajkot,23,10,107,113,10.615385,6.336449
67042,Kings XI Punjab,Mumbai Indians,Mumbai,9,10,109,189,4.909091,10.403670
59544,Mumbai Indians,Sunrisers Hyderabad,Visakhapatnam,88,1,25,90,5.557895,21.600000
...,...,...,...,...,...,...,...,...,...
5326,Rajasthan Royals,Kings XI Punjab,Jaipur,125,6,36,42,8.928571,7.000000
47526,Delhi Daredevils,Royal Challengers Bangalore,Bangalore,155,4,9,32,8.378378,21.333333
2042,Gujarat Lions,Kolkata Knight Riders,Kolkata,145,5,31,43,9.775281,8.322581
32259,Mumbai Indians,Kings XI Punjab,Chandigarh,20,10,100,149,6.000000,8.940000
28759,Kings XI Punjab,Deccan Chargers,Dharamsala,103,2,23,96,6.371134,25.043478

In [87]:
Y

34208    1
27706    0
57695    1
67042    0
59544    0
        ..
5326     1
47526    0
2042     1
32259    1
28759    0
Name: result, Length: 74262, dtype: int64

## Now we are building the model

In [89]:
# spliting the data in to train and the test

from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

In [90]:
X_train

,batting_team,bowling_team,city,score,wickets,remining balls,target_left,crr,rrr
17539,Rajasthan Royals,Mumbai Indians,Mumbai,64,7,69,149,7.529412,12.956522
47898,Royal Challengers Bangalore,Chennai Super Kings,Ranchi,9,10,113,130,7.714286,6.902655
50954,Sunrisers Hyderabad,Royal Challengers Bangalore,Bangalore,15,10,115,152,18.000000,7.930435
71357,Delhi Capitals,Kolkata Knight Riders,Kolkata,31,10,104,153,11.625000,8.826923
24316,Mumbai Indians,Chennai Super Kings,Mumbai,82,7,40,87,6.150000,13.050000
...,...,...,...,...,...,...,...,...,...
3738,Gujarat Lions,Kings XI Punjab,Chandigarh,188,6,2,2,9.559322,6.000000
36902,Kolkata Knight Riders,Rajasthan Royals,Jaipur,23,8,101,122,7.263158,7.247525
64896,Delhi Daredevils,Chennai Super Kings,Pune,65,7,78,154,9.285714,11.846154
48602,Kolkata Knight Riders,Chennai Super Kings,Kolkata,125,8,27,30,8.064516,6.666667
31590,Delhi Daredevils,Deccan Chargers,Hyderabad,116,9,56,72,10.875000,7.714286

In [91]:
X_test

,batting_team,bowling_team,city,score,wickets,remining balls,target_left,crr,rrr
45852,Royal Challengers Bangalore,Sunrisers Hyderabad,Bangalore,2,10,117,154,4.000000,7.897436
25056,Mumbai Indians,Royal Challengers Bangalore,Bangalore,139,9,10,2,7.581818,1.200000
56908,Mumbai Indians,Kolkata Knight Riders,Kolkata,175,6,9,13,9.459459,8.666667
8351,Deccan Chargers,Kolkata Knight Riders,Hyderabad,121,5,37,84,8.746988,13.621622
5053,Royal Challengers Bangalore,Mumbai Indians,Mumbai,78,7,58,88,7.548387,9.103448
...,...,...,...,...,...,...,...,...,...
66041,Kings XI Punjab,Rajasthan Royals,Jaipur,116,5,13,46,6.504673,21.230769
8832,Rajasthan Royals,Kings XI Punjab,Chandigarh,9,9,103,213,3.176471,12.407767
8413,Rajasthan Royals,Delhi Daredevils,Jaipur,11,9,100,146,3.300000,8.760000
75293,Chennai Super Kings,Mumbai Indians,Hyderabad,85,7,45,68,6.800000,9.066667
30389,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,115,2,7,51,6.106195,43.714286

In [92]:
Y_train

17539    0
47898    1
50954    1
71357    1
24316    0
        ..
3738     1
36902    0
64896    0
48602    1
31590    1
Name: result, Length: 59409, dtype: int64

In [93]:
Y_test

45852    1
25056    1
56908    1
8351     0
5053     1
        ..
66041    0
8832     0
8413     1
75293    0
30389    0
Name: result, Length: 14853, dtype: int64

# LOGISTIC REGRISSION

In [95]:
# now converting labeled data into one hot encoing (for clearity about one hot encoding goole it thenb see the images)
# transform no-numerical data to numerical data

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [96]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [97]:
trf

ColumnTransformer(remainder='passthrough',
                  transformers=[('trf',
                                 OneHotEncoder(drop='first',
                                               sparse_output=False),
                                 ['batting_team', 'bowling_team', 'city'])])

In [98]:
# building the model

from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [99]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [100]:
pipe.fit(X_train,Y_train)

C:\anaconda\Lib\site-packages\sklearn\compose\_column_transformer.py:1667: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [101]:
Y_prediction = pipe.predict(X_test)

In [102]:
Y_prediction

array([1, 1, 1, ..., 1, 1, 0], dtype=int64)

In [103]:
# for evulation part we have accuracy score

# accuracy score
from  sklearn.metrics import accuracy_score

In [104]:
accuracy_score(Y_test,Y_prediction)

0.8122938126977715

In [105]:
# exporting the models
import pickle as pkl

In [106]:
pkl.dump(pipe,open('model.pkl','wb'))

In [107]:
pkl.dump(pipe,open('pipe.pkl','wb'))

In [108]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Titans',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals']

In [109]:
pkl.dump(teams,open('team.pkl','wb'))

In [110]:
Cities=list(model_df['city'].unique())

In [111]:
Cities

['Jaipur',
 'Mumbai',
 'Rajkot',
 'Visakhapatnam',
 'Chennai',
 'Indore',
 'Sharjah',
 'Kolkata',
 'Bangalore',
 'Bloemfontein',
 'Chandigarh',
 'Bengaluru',
 'Centurion',
 'Durban',
 'Hyderabad',
 'Port Elizabeth',
 'Abu Dhabi',
 'East London',
 'Delhi',
 'Ahmedabad',
 'Johannesburg',
 'Kanpur',
 'Cuttack',
 'Dharamsala',
 'Ranchi',
 'Pune',
 'Mohali',
 'Nagpur',
 'Raipur',
 'Cape Town',
 'Kimberley']

In [112]:
pkl.dump(Cities,open('City.pkl','wb'))

In [223]:
model_df.columns

Index(['batting_team', 'bowling_team', 'city', 'score', 'wickets',
       'remining balls', 'target_left', 'crr', 'rrr', 'result'],
      dtype='object')